/*.members{*/
/*    background: blueviolet;*/
/*    margin: 10px;*/
/*}*/

/*-----------------------------------*/

.member{

    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;

}
.members{
    height: 50px;
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction:row;
    row-gap: 10px;


}

.liii{
    border-top: 1px solid black;
    text-decoration: none;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin: 0px;
    list-style-type: none;
}

