body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.user_all{
    height: 200px;
    width: 250px;
    border: 1px solid black;
    margin: 30px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;


}

.box_all{
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
    /*border: 1px solid black;*/

}

/*.user_all:hover {*/
/*    transform: scale(1.5);*/
/*    background: white;*/
/*    z-index: 1;*/
/*    transition: transform .5s;*/

/*}*/



.user_all {
    border-style: solid;
    border-width: 1px;
    display: block;
    height: 200px;
    width: 250px;
    background-color:white;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, transform 2s;
}

.user_all:hover {
    width: 250px;
    height: 200px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);


}

.aaa{

    margin-bottom: 15px;
}


.button1{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    color: black;
    cursor: pointer;
}

.button1:hover {
    transform: scale(1.7);
    background: silver;
    z-index: 1;
    transition: transform .7s;
}






