



.user_all{
    width: 250px;
    border: 1px solid black;
    margin: 15px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.box_all{
    width: 630px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid black;

}