.ones{
    width: 1250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 100px;
}

.ones1{
    height: 100px;
    width: 200px;
    display: flex;
    border:1px solid black;
    justify-content:space-between;
    align-items: center;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;


}

.ones1:hover {
    transform: scale(1.2);
    background: white;
    z-index: 1;
    transition: transform .5s;

}

body{
    padding-left: 50px;
}

button{
    background:silver;
    border-radius: 6px;
    cursor: pointer;
}

.but:hover {
    transform: scale(1.5);
    background: cadetblue;
    z-index: 1;
    transition: transform .5s;
}

.but{
    height: 70px;
    width: 60px;
    border: 1px solid black;
    margin-left: 10px;


}